# ==========================================
# Minio configuration
# ==========================================
MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_SECURE=

# ==========================================
# Temporary directory configuration
# ==========================================
TMP_DIR=