# ==========================================
# Operating System
# ==========================================
# Mac
.DS_Store

# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*$py.class

# ==========================================
# Virtual environments
# ==========================================
venv/
.venv/
env/
.env_python/

# ==========================================
# Environment variables
# ==========================================
.env*
!.env.example

# ==========================================
# Logs
# ==========================================
# Logs
*.log
logs/*
!logs/.gitkeep

# ==========================================
# IDEs
# ==========================================
.vscode/*
.idea/*

# ==========================================
# Custom
# ==========================================
commands*